.section {
    max-width: 1280px;
    margin: 0 auto;
    padding: 10rem 0 2rem;
    display: flex;
    flex-direction: column;
}
.section__navback a{
    max-width: fit-content;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 32px;
    color: #4A4A4A;
}
.section__navback a:hover{
    color: #000;
    transition: ease-in-out 0.3s;
}
.section__title {
  font-size: var(--section-title-size);
  color: var(--section-title-color);
  position: relative;       /* Establish positioning context */
  margin: 1rem 0;           /* Add some vertical spacing */
}

.architecture{
    border: 20px;
    overflow: hidden;
}
.tech_stack{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}
.tech{
    max-width: fit-content;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 32px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding:0 10px;
}
.tech__line {
    width: 1px;
    height: 36px; /* Adjust height as needed */
    background-color: #505050; /* Adjust color as needed */
    margin: 0px; /* Adjust spacing as needed */
}
.tech__title{
    font-size: 18px;
    font-weight: 600;
    padding: 0 10px;
}
.tech__icon{
    width: 35px;
    height: 35px;
}