/* .container {
    max-width: 1028px;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid red;
  } */
  .container {
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 2rem;
    /* border: 2px solid rgb(0, 38, 255); */
}

.section {
  padding: 6rem 0 2rem;
}
.section__title {
  font-size: var(--section-title-size);
  color: var(--section-title-color);
  position: relative;       /* Establish positioning context */
  text-align: center;       /* Center the text */
  margin: 1rem 0;           /* Add some vertical spacing */
}
.section__subtitle {
  display: block;
  font-size: var(--small-font-size);
  margin-bottom: 4rem;
  color: var(--section-subtitle-color);
}
.section__title,
.section__subtitle {
  text-align: center;
}
.section__title::before,
.section__title::after {
  content: '';
  position: absolute;
  width: 130px;              /* Length of the line on each side */
  height: 1px;              /* Thickness of the line */
  background-color: black;  /* Color of the line */
  top: 50%;                 /* Align to the vertical center of the text */
}
.section__title::before {
  left: 35%;      /* Adjusts dynamically */
}
.section__title::after {
  right: 35%;
}

.about__container {
  max-width:996px;
  display: flex;
  justify-content:center;
  margin-bottom: 50px;
  margin: 0 auto;  /* Center the container */
}
.about__data{
  color: #4A4A4A;
  font-weight: 600;;
  font-size: clamp(1rem, 3vw, 1.5rem);
  text-align: justify;
}

.about__img{
  border-radius: 10%;
  padding: 30px;
}
.about__user{
  border-radius: 10%;
  border: 3px solid #006CE0;
}

.about__description{
  font-size: clamp(0.5rem, 3vw, 1.25rem);
}


.highlights{
  color:#006CE0;
}
.about__footer {
  position: fixed;
  bottom: 0px; /* Adjust to position it further or closer to the bottom */
  font-family: 'JetBrains Mono', monospace;
  color: rgba(0, 0, 0, 0.050);
  font-size: 140px;
  font-weight: 600;
}
@media screen and (max-width: 992px) {
  .about__container {
    max-width: 768px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
    margin: 0 auto;  /* Center the container */
    font-size: 32px;
  }
}
 /* For medium devices */
 @media screen and (max-width: 1540px) {
  .section__title::before {
        left: 30%;              /* Position the left line */
  }
  .section__title::after {
        right: 30%;             /* Position the right line */
  }
}

@media screen and (max-width: 1125px) {
  .section__title::before {
    left: 25%;              /* Position the left line */
  }
  .section__title::after {
    right: 25%;             /* Position the right line */
  }
}
    


  /* For medium devices */
@media screen and (max-width: 768px) {
.section__title::before {
    left: 15%;              /* Position the left line */
}
.section__title::after {
    right: 15%;             /* Position the right line */
}
  }

@media screen and (max-width: 675px) {
  .section__title::before,
.section__title::after {
    width: 75px;              
}
.section__title::before {
    left: 7.5%;              /* Position the left line */
}
.section__title::after {
    right: 7.5%;             /* Position the right line */
}
.section__subtitle {
  margin-bottom: 2rem;
}

.about__description{
  font-size: 15px;
}
  }

@media screen and (max-width: 475px) {
  .section__title::before {
      left: 5%;              /* Position the left line */
  }
  .section__title::after {
      right: 5%;             /* Position the right line */
  }
    }