.section {
  padding: 0 2rem;
}
.about__container {
  max-width: 1280px;
  display: flex;
  flex-direction: column;
  justify-content:center;
  margin-bottom: 50px;
  margin: 0 auto;
  gap: 30px;
}
.section__title {
  font-size: var(--section-title-size);
  color: var(--section-title-color);
  position: relative;
  text-align: center;   
  margin: 1rem 0;         
}
.section__subtitle {
  display: block;
  font-size: var(--small-font-size);
  margin-bottom: 4rem;
  color: var(--section-subtitle-color);
  text-align: center;
}
.section__title::before,
.section__title::after {
  content: '';
  position: absolute;
  width: 130px;              /* Length of the line on each side */
  height: 1px;              /* Thickness of the line */
  background-color: black;  /* Color of the line */
  top: 50%;                 /* Align to the vertical center of the text */
}
.section__title::before {
  left: 35%;      /* Adjusts dynamically */
}
.section__title::after {
  right: 35%;
}

.group1{
  display: flex;
  justify-content: space-between;
  gap: 30px;
}
.group2{
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.group1 > div {
  flex: 1; /* Make both divs take equal space */
}
.about__data{
  color: #4A4A4A;
  font-weight: 600;
  font-size: 24px;
  text-align: left;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.315);
  padding:0 40px;
}
.about__title{
  font-size: 36px;
  font-weight: 800;
  color: black;
}
.about__subtitle{
  font-size: 28px;
  font-weight: 600;
}
.about__description{
  font-size: 20px;
  font-family: 'inter', sans-serif;
  font-weight: 500;
  line-height: 1.5;
}
.group2 .about__data{
  border: 2px solid rgba(255, 255, 255, 0);
}
.resume{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  text-align: justify;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  color: #4A4A4A;
  transition: transform 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  cursor: pointer;
}
.resume:hover{
  transition: ease-in-out 0.3s;
  transform: scale(1.05);
  color: black;
}
.about__h3{
  font-size: 20px;
  font-weight: 600;
  text-align: center;
}
.about__h2{
  font-size: 30px;
  font-weight: 700;
  font-family: 'jetbrains mono', monospace;
}
.about__span{
  font-size: 36px;
  font-weight: 600;
}
.about__footer {
  position: fixed;
  bottom: 0px; /* Adjust to position it further or closer to the bottom */
  font-family: 'JetBrains Mono', monospace;
  color: rgba(0, 0, 0, 0.050);
  font-size: 140px;
  font-weight: 600;
  z-index: -1;
}
.about__tech{
  padding:0 20px;
}
.tech_stack{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin: 0 auto;
}
.tech{
  max-width: fit-content;
  display: flex;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding:0 5px;
}
.tech__line {
  width: 1px;
  height: 36px; /* Adjust height as needed */
  background-color: #505050; /* Adjust color as needed */
  margin: 0px; /* Adjust spacing as needed */
}
.tech__title{
  font-size: 18px;
  font-weight: 600;
  font-family: 'jetbrains mono', monospace;
  padding: 0 3px;
}
.tech__icon{
  width: 35px;
  height: 35px;
}
.tech__h1{
  font-size: 20px;
  font-weight: 600;
}
.about__list{
  padding: 0;
  margin-left: 15px;
}
.about__list li{
  padding-bottom: 15px;
}
@media screen and (max-width: 992px) {
  .about__container {
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
    font-size: 32px;
  }
  .about__footer{
    font-size: 100px;
  }
}
 /* For medium devices */
 @media screen and (max-width: 1540px) {
  .section__title::before {
        left: 30%;              /* Position the left line */
  }
  .section__title::after {
        right: 30%;             /* Position the right line */
  }
}

@media screen and (max-width: 1125px) {
  .section__title::before {
    left: 25%;              /* Position the left line */
  }
  .section__title::after {
    right: 25%;             /* Position the right line */
  }
}
  /* For medium devices */
@media screen and (max-width: 768px) {
.section__title::before {
    left: 15%;              /* Position the left line */
}
.section__title::after {
    right: 15%;             /* Position the right line */
}
.tech__title{
  font-size: 16px;
  font-weight: 600;
  padding: 0;
}
.tech_stack{
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  margin: 0 auto;
  justify-content: center;
  padding-bottom: 20px;
}
.tech{
  max-width: fit-content;
  display: flex;
  flex-direction: column;

  align-items: center;
  gap: 0;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding:0 5px;
}
.tech__line {
  display: none;
}
.tech__h1{
  text-align: center;
}
.group1{
  display: flex;
  flex-direction: column;
}

.about__links{
  display: flex; /* Make the parent a flex container */
  flex-direction: row; /* Arrange children in a row */
 justify-content: space-between;
  gap: 30px;
}
.about__links .link {
  flex: 1; 
  box-sizing: border-box; 
}
}

@media screen and (max-width: 675px) {
  .section__title::before,
.section__title::after {
    width: 75px;              
}
.section__title::before {
    left: 7.5%;              /* Position the left line */
}
.section__title::after {
    right: 7.5%;             /* Position the right line */
}
.section__subtitle {
  margin-bottom: 2rem;
}

.about__description{
  font-size: 16px;
}
.about__title{
  font-size: 24px;
  font-weight: 800;
  
}
.about__subtitle{
  font-size: 24px;
  font-weight: 700;
}
}

@media screen and (max-width: 475px) {
  .section__title::before {
      left: 5%;              /* Position the left line */
  }
  .section__title::after {
      right: 5%;             /* Position the right line */
  }
  .about__h2{
    text-align: center;
    font-size: 24px;
  }
  .about__title, .about__subtitle{
    text-align: center;
  }
  .about__data{
    padding:0 20px;
  }
  .about__h3{
    font-size: 14px;
  }
  .about__span{
    font-size: 18px;
  }
  .about__icon{
    font-size: 16px;
  }
  .about__footer{
    font-size: 75px;
    font-weight: 800;
  }
}