.section {
    height: 100vh;
    padding: 0 2rem;
}
.container {
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
    padding: 7.5rem 0 0 0 ;
}

.home__data {
    display: flex;
    flex-direction: column;;
    align-items: flex-start; /* Ensures everything stays left-aligned */
    padding: 0 2rem;
}

.home__subtitle{
    color: #202020b0;
    font-size: 24px;
    margin: 0;
    padding-bottom: 20px;
    font-weight: 600;
}
.name{
    color: #202020;
    font-weight: 700;
}

.home__subdes{
    font-weight: 600;
    font-size: 36px;
    margin:0;
    color: #383838;
}
.home__description{
    max-width: 796px;
    color: #4A4A4A;
    font-weight: 500;
    font-size: 22px;
    font-family: 'inter' , sans-serif;
    line-height: 1.5;
}
.home__highlight{
    color: #006CE0;
    font-weight: 700;
}

.home__counter{
    color: #000000;
    font-weight: 700;
    font-size: 20px;
}
.arrow {
    animation: bounce 2s infinite;
    margin-top: 3.5rem;
    margin-left: auto; 
    margin-right: auto;
    cursor: pointer;
    max-width: fit-content;
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-20px);
    }
    60% {
        transform: translateY(-10px);
    }
}
.hero__footer {
  position: fixed;
  bottom: 1;
  color: rgba(0, 0, 0, 0.050);
  font-size: 140px;
  font-weight: 600;
  z-index: -100;
}
  
/*=============== BREAKPOINTS ===============*/
/* For large devices */
@media screen and (max-width: 992px) {
    .section {
        padding: 0  2rem;
      }
    .home__data {
        align-items: flex-start !important; 
    }
   .home__subtitle{
    font-size: 24px;
    }
    .home__title{
        font-size: 30px;
    }
    .home__subdes{
        font-weight: 600;
        font-size: 36px;
    }
}
  /* For medium devices */
@media screen and (max-width: 768px) {
    .section {
        padding: 0 0 2rem;
    }
   .home__description{
        max-width: initial;
   }
   .home__subtitle{
        font-size: 24px;
    }
    .home__title{
        font-size: 30px;
    }
    .home__subdes{
        font-size: 36px;
    }
    .home__counter{
        color: #000000;
        font-weight: 700;
        font-size: 15px;
    }
    .hero__footer {
        font-size: 100px;
        font-weight: 600;
    }
        
}
  /* For small devices */
  @media screen and (max-width: 450px) {
    .home__data{
        padding : 0;
    }
   .home__subtitle{
    font-size: 20px;
    }
    .home__title{
        font-size: 36px;
    }
    .home__subdes{
        font-size: 24px;
    }
    .home__description{
        font-size: 16px;
    }
    .home__counter{
        color: #000000;
        font-weight: 700;
        font-size: 15px;
    }
    .hero__footer {
        font-size: 76px;
    }
    .arrow{
        margin-top: 2rem;
    }
}
