.section {
    padding: 10rem 0 2rem;
}
.container {
    max-width: 1120px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 2rem;
}

.home__data{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.home__subtitle{
    color: rgba(0, 0, 0, 0.478);
    font-size: 24px;
    margin:0 auto;
    padding-bottom: 10px;
    font-weight: 600;
}
.home__title{
    font-size: 36px;
    color: #202020;
    margin:0 auto;
    padding-bottom: 36px;
}
.home__subdes{
    font-weight: 600;
    font-size: 42px;
    margin:0 auto;
    color: #202020;
}
.home__description{
    max-width: 796px;
    color: #4A4A4A;
    font-weight: 600;
    font-size: 24px;
    text-align: center;
}
.home__highlight{
    color: #006CE0;
    font-weight: 700;
}
.home__counter{
    color: #000000;
    font-weight: 700;
    font-size: 20px;
}

.home__scroll{
    margin-left: 9.25rem;
}

.wheel{
    animation: scroll 2s ease infinite;
}

.home__scroll-name{
    color: var(--title-color);
    font-weight: var(--font-medium);
    margin-right: var(--mb-0-25);
    margin-left: 2px;
}

.home__scroll-arrow{
    font-size: 1.25rem;
    color: var(--title-color);
}

.hero__footer {
  position: fixed;
  bottom: 0px; /* Adjust to position it further or closer to the bottom */
  font-family: 'JetBrains Mono', monospace;
  color: rgba(0, 0, 0, 0.050);
  font-size: 140px;
  font-weight: 600;
}
  
/*=============== BREAKPOINTS ===============*/
/* For large devices */
@media screen and (max-width: 992px) {
    .section {
        padding: 7.5rem 0 2rem;
      }
    .home__data{
        padding : 0 1rem;
    }
   .home__description{
    max-width: initial;
   }
   .home__subtitle{
    font-size: 24px;
    }
    .home__title{
        font-size: 30px;
    }
    .home__subdes{
        font-weight: 600;
        font-size: 36px;
    }
    .home__description{
        font-weight: 600;
        font-size: 20px;
    }
}
  /* For medium devices */
@media screen and (max-width: 768px) {
    .section {
        padding: 8rem 0 2rem;
    }
   .home__description{
        max-width: initial;
   }
   .home__subtitle{
        font-size: 24px;
    }
    .home__title{
        font-size: 30px;
    }
    .home__subdes{
        font-size: 36px;
    }
    .home__description{
        font-weight: 600;
        font-size: 20px;
    }
    .home__counter{
        color: #000000;
        font-weight: 700;
        font-size: 15px;
    }
    .hero__footer {
        font-size: 100px;
        font-weight: 600;
    }
        
}
  /* For small devices */
  @media screen and (max-width: 450px) {
   .home__subtitle{
    font-size: 20px;
    }
    .home__title{
        font-size: 36px;
    }
    .home__subdes{
        font-size: 24px;
    }
    .home__description{
        font-weight: 600;
        font-size: 18px;
    }
    .home__counter{
        color: #000000;
        font-weight: 700;
        font-size: 15px;
    }
}
