:root {
  --background: #f3f3f3;
  --foreground: #171717;
  --light-background-image: url('/images/light-bg.png');
  --dark-background-image: url('/images/dark-bg.png');
  --navbar-bg-light:var(--light-background-image);
  --navbar-bg-dark:var(--dark-background-image);

  --section-title-size: 2rem;
  --section-subtitle-size: 1rem;
  --hue: 0;
  --sat: 0%;
  --section-title-color: #342F2F;
  --section-subtitle-color: #545252;

}


body {
  color: var(--foreground);
  background-color: var(--background); /* Default light background */
  background-image: var(--light-background-image); /* Default light background image */
  background-attachment: fixed;
  font-family: 'geist Mono', monospace;
  transition: background-image 0.2s ease-in-out; /* Smooth transition for background */
  
}

.dark body {
  background-color: #0a0a0a; /* Dark background color */
  background-image: var(--dark-background-image); /* Dark background image */
  color: #ededed; /* Light foreground color for dark mode */
}
a{
  text-decoration: none;
}