:root {
  --background: #e5e5e5;
  --foreground: #171717;
  --light-background-image: url('/images/light-bg.webp');
  --dark-background-image: url('/images/dark-bg.webp');
  --navbar-bg-light:var(--light-background-image);
  --navbar-bg-dark:var(--dark-background-image);

  --section-title-size: 2rem;
  --section-subtitle-size: 1rem;
  --hue: 0;
  --sat: 0%;
  --section-title-color: #342F2F;
  --section-subtitle-color: #545252;
  --watermark-color: #73737334;


  
  --content-font-size: 22px;
  --content-font-weight: 500;
  --content-font-colour: #4A4A4A;
  --content-font-family: 'inter' , sans-serif;
  --content-line-height: 1.5;

}


body {
  color: var(--foreground);
  background-color: var(--background); /* Default light background */
  background-image: var(--light-background-image); /* Default light background image */
  background-size: cover; /* Ensures the image covers the entire viewport */
  background-position: center; /* Centers the image */
  background-repeat: no-repeat; /* Prevents repeating */
  background-attachment: fixed; /* Keeps it fixed while scrolling */
  font-family: 'jetbrains mono', sans-serif;
  transition: background-image 0.2s ease-in-out; /* Smooth transition for background */
}

html.dark body {
  background-color: #0a0a0a; /* Dark background color */
  background-image: var(--dark-background-image); /* Dark background image */
  color: #ededed; /* Light foreground color for dark mode */
}
a{
  text-decoration: none;
}