:root {
  --background: #ffffff;
  --foreground: #171717;
  --light-background-image: url('/images/light-bg.png');
  --dark-background-image: url('/images/dark-bg.png');
}


body {
  color: var(--foreground);
  background-color: var(--background); /* Default light background */
  background-image: var(--light-background-image); /* Default light background image */
  
  font-family: 'JetBrains Mono', monospace;
  transition: background-image 0.2s ease-in-out; /* Smooth transition for background */
}

.dark body {
  background-color: #0a0a0a; /* Dark background color */
  background-image: var(--dark-background-image); /* Dark background image */
  color: #ededed; /* Light foreground color for dark mode */
}
