.floatingWidget {
    display: block;
    max-width: fit-content;
  }
  
.icon{
    font-size: 1.5rem;
    width: 35px;
    height: 35px;
    color: #525252;
    transition: all 0.3s ease-in-out;
}
.icon:hover{
    fill:black;
    color: #000;
    transform: translateY(-5px);
}
  
.social{
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 1rem;
}

@media screen and (max-width: 992px) {
   .floatingWidget{
        display: block;
        margin: 0 auto;
        margin-top: 1rem;
   }
}
